/*@font-face {*/
/*    font-family: 'Akony';*/
/*    src: url('fonts/akony.woff') format('woff'),*/
/*    url('fonts/akony.ttf') format('ttf'),*/
/*    url('fonts/akony.otf') format('otf');*/
/*}*/

:root {
    --accent: #00FFA2;
}

.link {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    max-width: 198px;
    padding: 13.5px;
    backdrop-filter: blur(5.832000255584717px);
    border: 5px solid #f9f9f9;
    background: #f9f9f9;
    opacity: 0.2;
    display: inline-block;
    width: 100%;
}

.section-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    font-family: "Jura", sans-serif;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.section-title:hover {
    background-position: -100% 0;
}

.gallery-title {
    margin: 250px auto 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 48px;
    font-family: "Jura", sans-serif;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.title {
    font-weight: 700;
    font-size: 72px;
    font-family: "Jura", sans-serif;
}

.gallery-title:hover {
    background-position: -100% 0;
}

.listen-title {
    font-weight: 700;
    font-size: 72px;
    font-family: "Jura", sans-serif;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #00FFA2 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.7s ease;
}

.listen-title:hover {
    background-position: -100% 0;
}

.video-title {
    font-weight: 700;
    font-size: 72px;
    font-family: "Jura", sans-serif;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #00FFA2 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.7s ease;
}

.video-title:hover {
    background-position: -100% 0;
}


.equipment-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 72px;
    font-family: "Jura", sans-serif;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #00FFA2 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.7s ease;
}

.equipment-title:hover {
    background-position: -100% 0;
}


.text {
    font-weight: 500;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Raleway, sans-serif;
    position: relative;
    background: #1D1D1F;
    color: #fff;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.main-wrapper {
    background-image: url("./images/main.png");
    height: 100vh;
    background-size: cover;
}

.main-wrapper .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header-list {
    display: flex;
    gap: 82.5px;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-family: "Jura", sans-serif;
    z-index: 100;
}

.header-list a {
    color: inherit;
    z-index: 100;
}

.language-select {
    font-family: "Jura", sans-serif;
    position: relative;
    width: max-content;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    z-index: 10;
    color: var(--accent);
}

.selected-language {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s;
}

.selected-language-mob {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s;
}

.arrow {
    position: relative;
    top: 2px;
}

.arrow-mob {
    position: relative;
    top: 2px;
}

.language-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.diplomas-list__desc-mob {
    display: none;
}

.language-options-mob {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.language-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-option-mob {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*.language-option:hover {*/
/*    background-color: #f0f0f0;*/
/*}*/

.flag {
    width: 20px;
    height: 13px;
}

.flag1 {
    width: 20px;
    height: 13px;
    display: none;
}

.arrow {
    transition: transform 0.3s;
}

.arrow1 {
    transition: transform 0.3s;
}

.arrow-active {
    transform: rotate(180deg);
}

.visible {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column
}

.header-list a {
    cursor: pointer;
    transition: all .3s;
}

.header-list a:hover {
    color: var(--accent);
}

.nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    display: none;
    margin-left: 1092px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-image: url("images/btn-over.png");
    padding: 13.5px 0;
    width: 198px;
    text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.3s;
    z-index: 100;
}

.header-link:hover {
    background-image: url("images/btn-hover.png");
}

.header-link__mob:hover {
    background-image: url("images/btn-hover.png");
}

.header-link__mob {
    display: none;
}

.main-title__mob {
    display: none;
}

.header-link a {
    color: inherit;
}

.burger-menu {
    width: 42px; /* Размер по ширине первой линии */
    height: 31px; /* Размер по высоте второй линии */
    position: relative;
    cursor: pointer;
    z-index: 1000;
}

.line {
    height: 2.4px;
    background-color: black; /* Чёрный цвет по умолчанию */
    position: absolute;
    transition: all 0.3s ease;
}

/* Первая линия */
.line.top {
    width: 42px;
    top: 0;
}

/* Вторая линия */
.line.bottom {
    width: 31px;
    bottom: 0;
}

/* Активное состояние, когда меню открыто */
.burger-menu.active .line {
    background-color: #00FF00; /* Зелёный цвет для крестика */
    width: 30px; /* Меняем длину линий на 30px */
}

.burger-menu.active .line.top {
    transform: rotate(45deg);
    top: 50%;
    left: 6px; /* Центрируем по горизонтали */
    transform-origin: center;
}

.burger-menu.active .line.bottom {
    transform: rotate(-45deg);
    bottom: 50%;
    left: 6px; /* Центрируем по горизонтали */
    transform-origin: center;
}

.main-title {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 132px;
    text-transform: uppercase;
    margin: 0 auto 10px;
    text-align: right;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.main-title:hover {
    background-position: -100% 0;
}

.main-title span {
    color: var(--accent);
}

.main-title__mob span {
    color: var(--accent);
}

.about-title {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-top: 150px;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.about-title:hover {
    background-position: -100% 0;
}


.about-desc {
    max-width: 636px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 100px;
    /*vertical-align: top;*/
}

.about-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10000;
}

/*diplomas*/

.diplomas-title {
    font-family: "Jura", sans-serif;
    margin-top: 150px;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.diplomas-title:hover {
    background-position: -100% 0;
}

.diplomas-name {
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    margin-top: 30px;
}

.diplomas-list {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
}

.diplomas-list__img {
    width: 308px;
    height: 435px;
    background: #fff;
}

.diplomas-list__img-mob {
    display: none;
}

.diplomas-list__desc {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    max-width: 259px;
}

/*reviews*/

.reviews {
    margin-top: 200px;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
    margin-top: 40px;
    justify-content: space-between;
}

.reviews-list li {
    width: 32%;
}

.reviews-list__desc {
    font-weight: 500;
    font-size: 18px;
}

.reviews-list__info {
    display: flex;
    margin-top: 25px;
    gap: 13px;
    align-items: center;
}

.reviews-list__info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.reviews-list__info span {
    font-weight: 500;
    font-size: 20px;
}

/*experience*/

.experience {
    background-image: url("images/experience.png");
    margin-top: 94px;

    background-size: cover;
    padding-bottom: 253px;
}

.experience .container {
    padding-top: 106px;
}

.experience-title {
    margin-left: 328px;
}

.experience-desc {
    margin-top: 15px;
    max-width: 636px;
    margin-left: 328px;
}

.experience-info {
    position: relative;
    margin-top: 141px;
    margin-left: 286px;
    height: 701px;
}

.experience-info img {
    position: absolute;
    top: 8px;
    left: 316px;
}

.experience-info__desc {
    position: absolute;
    max-width: 245px;
}

.experience-info__desc:first-child {
    top: auto;
    left: 41px;
    text-align: right;
}

.experience-info__desc:nth-child(2) {
    right: 190px;
    top: 206px;
    max-width: 260px;
}

.experience-info__desc:nth-child(3) {
    text-align: right;
    bottom: 206px;
    left: 0px;
    max-width: 286px;
}

.experience-info__desc:nth-child(4) {
    right: 165px;
    bottom: 0;
    max-width: 277px;
}

/*listen*/

.listen-title {
    margin-top: 150px;
}

.listen-desc {
    margin-top: 15px;
    max-width: 636px;
}

.listen-list {
    margin-top: 115px;
    display: flex;
    gap: 100px 67px;
    flex-wrap: wrap;
    z-index: 100;
}

.experience-desc-mob {
    display: none;
}

.listen-list__text {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;
}

.listen-list__desc {
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.listen-list__link {
    margin-top: 22px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-image: url("images/btn-over.png");
    padding: 13.5px 0 13.5px 45px;
    width: 198px;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.3s;
    z-index: 1000;
}

.listen-list__link:hover {
    background-image: url("images/btn-hover.png");
}

.listen-list__link svg {
    z-index: 1000;
    position: absolute;
    top: 15px;
    right: 48px;
    width: 19px;
    height: 15px;
}

.listen-list__link a {
    color: inherit;
}

/*.parallax {*/
/*    perspective: 1px;*/
/*    height: 100vh;*/
/*    overflow-y: auto;*/
/*}*/

/*.parallax-layer {*/
/*    position: absolute;*/
/*    inset: 0; // вместо top, bottom, left, right: 0;*/
/*}*/

/*.parallax-image {*/
/*    transform: translateZ(0);*/
/*}*/

/*.parallax-text {*/
/*    transform: translateZ(-2px);*/
/*}*/

/*icons*/

.icons-desc {
    margin: 200px auto 0;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    max-width: 509px;
}

.icons-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1211px;
    margin: 50px auto 0;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: white;
}

.icons-list li {
    color: white;
    cursor: pointer;
    z-index: 100 /* Цвет по умолчанию для SVG */
}

.icons-list li:hover {
    color: transparent; /* Делает элемент прозрачным */
}

.icons-list li:first-child:hover svg {
    /* Градиентный фон с маской */
    background-image: linear-gradient(180deg, #f8a01d 0%, #f26e23 71.28%, #ef5826 100%);
    -webkit-mask-image: url('images/soundcloud.svg');
    mask-image: url('images/soundcloud.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    display: inline-block;
}

.icons-list li:nth-child(2):hover svg {
    color: #FF0000;
}

.icons-list li:nth-child(3):hover svg {
    color: #27a7e7;
}

.icons-list li:nth-child(4):hover svg {
    color: #07f;
}

/*.icons-list li:nth-child(5):hover svg {*/
/*    color: #a238ff;*/
/*}*/

/*.icons-list li:nth-child(6):hover svg {*/
/*    color: #ffbc0d;*/
/*}*/

/*.icons-list li:nth-child(7):hover svg {*/
/*    color: #07f;*/
/*}*/

/*.icons-list li:nth-child(8):hover svg {*/
/*    color: #4401ff;*/
/*}*/

/*equipment*/

.equipment-title {
    margin-top: 250px;
    margin-bottom: 30px;
}

.equipment-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.equipment-text {
    max-width: 636px;
    margin-top: 5px;
}

.equipment-text__name {
    display: block;
    font-weight: 700;
    font-size: 26px;
}

.equipment-text__desc {
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: 15px 0;
}

.equipment-text__other {
    margin-top: 60px;
}

.equipment-content__text {
    margin-top: 30px;
}

.equipment-text__other-name {
    margin-top: 5px;
    font-weight: 700;
    font-size: 26px;
    display: block;
}

.equipment-desc {
    margin-top: 23px;
}

/*gallery*/

.gallery-title {
    margin: 170px auto 0;
    text-align: center;
}

.gallery-list {
    margin-top: 68px;
    position: relative;
    height: 1192px;
}

.gallery-list img:first-child {
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-list img:nth-child(2) {
    position: absolute;
    top: 58px;
    left: 507px;
}

.gallery-list img:nth-child(3) {
    position: absolute;
    top: 0;
    right: 0;
}

.gallery-list img:nth-child(4) {
    position: absolute;
    top: 472px;
    left: 0;
}

.gallery-list img:nth-child(5) {
    position: absolute;
    top: 472px;
    right: 487px;
}

.gallery-list img:nth-child(6) {
    position: absolute;
    top: 388px;
    right: 0;
}

.gallery-list img:nth-child(7) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery-list img:nth-child(8) {
    position: absolute;
    left: 487px;
    bottom: 0;
}

.gallery-list img:nth-child(9) {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*video*/

.video {
    height: 734px;
    z-index: 10;
}

.video .video-content {
    padding-left: 200px;
}

.video-title {
    margin-top: 250px;
    margin-bottom: 15px;
}

.video-desc {
    font-size: 26px;
    margin-bottom: 90px;
}

.swiper-pagination-bullet {
    background: #d9d9d9 !important;
    border-radius: 20px !important;
    width: 16px !important;
    height: 16px !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #7f7f7f !important;
    opacity: 1 !important;

}

.swiper-pagination {
    position: relative !important;
    margin-top: 30px;
}

.swiper-pagination-bullet-active {
    background-color: gold;
    opacity: 1;
}

.swiper-container-2 {
    width: 100%; /* Ширина слайдера на всю ширину экрана */
    margin: 0 auto;
    overflow: hidden;
    /*z-index: 100;*/
    /*position: relative;*/
}

.swiper-container-2 .swiper-slide {
    width: 592px; /* Размер боковых слайдов */
    height: 333px;
    opacity: 0.5; /* Полупрозрачные боковые слайды */
    transition: all 0.3s ease;
    z-index: 100;
}

/* Активный слайд больше и по центру */
.swiper-container-2 .swiper-slide-active {
    opacity: 1;
    transform: scale(1.5);
    z-index: 100; /* Увеличение активного слайда на 50% */
}

.swiper-container-2 .swiper-slide img {
    width: 100%; /* Установить ширину на 100% */
    height: 100%; /* Установить высоту на 100% */
    object-fit: cover; /* Обрезка изображений, чтобы они заполнили слайд */
    z-index: 100;
}

/* Скрываем часть боковых слайдов */
.swiper-container-2 .swiper-slide-prev,
.swiper-container-2 .swiper-slide-next {
    opacity: 0.8; /* Слегка увеличиваем их видимость */
    margin-right: 70px;
    margin-left: 70px;
    z-index: 100;
}

.video-btn {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    z-index: 10000;
}

.video-btn .video-btn__img {
    width: auto;
    height: auto;
}

.swiper-container-2 .swiper-slide-active .video-btn {
    display: block;
}

/*form*/

.form {
    margin-top: 195px;
    background-image: url("images/form.png");
    background-size: cover;
    padding: 55px 0;
}

.form-title {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 48px;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.form-title:hover {
    background-position: -100% 0;
}

.form .container {
    max-width: 635px;
    height: 811px;
}

.form h2 {
    text-align: center;
}

.form-block {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-desc span {
    font-weight: 500;
    font-size: 15px;
    color: var(--accent);
}

.form-desc div {
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    background-image: url("images/overlay.png");
    padding: 17px 0 17px 20px;
    background-position: center;
    background-size: cover;
}

.first-info {
    display: flex;
    gap: 22.5px;
}

.first-info .form-desc:first-child {
    width: 240px;
}

.first-info .form-desc:nth-child(2) {
    width: 280px;
}

.first-info .form-desc:nth-child(3) {
    width: 69px;
}

.second-info {
    display: flex;
    gap: 22.5px;
}

.second-info .form-desc:first-child {
    width: 240px;
}

.second-info .form-desc:nth-child(2) {
    width: 240px;
}

.second-info .form-desc:nth-child(3) {
    width: 109px;
}

/*.box div{*/
/*    border: 4.37px solid #f9f9f9;*/
/*    width: 240px;*/
/*    height: 55px;*/
/*    background: #f9f9f9;*/
/*    opacity: 0.2;*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    color: #f9f9f9;*/
/*    position: relative;*/
/*    backdrop-filter: blur(0px);*/
/*    box-shadow: inset 5px 5px white;*/
/*}*/

/*.box div::before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    border: 0.97px solid #f9f9f9;*/
/*    width: 240px;*/
/*    height: 55px;*/
/*    z-index: 10;*/
/*}*/

/*services*/

.services-title {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 72px;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #ffffff 50%, #00FFA2 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.services-title:hover {
    background-position: -100% 0;
}


.services .container {
    display: flex;
    justify-content: space-between;
    margin-top: 270px;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 18px;
}

.services-list li {
    font-weight: 500;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 26px;
}

/*contacts*/

.contacts .container {
    max-width: 657px;
}

.contacts-title {
    margin-top: 250px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.contacts-title {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 72px;
    position: relative;
    color: transparent; /* Сначала текст прозрачный */
    background-image: linear-gradient(to right, #00FFA2 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.5s ease;
}

.contacts-title:hover {
    background-position: -100% 0;
}

.contacts-list {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contacts-link {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    display: block;
}

.contacts-list li {
    display: flex;
    gap: 15px;
    width: 40%;
    cursor: pointer;
    align-items: center;
    transition: color 0.2s;
    z-index: 100;
}

.contacts-list li:nth-child(4) {
    color: white; /* Цвет по умолчанию для SVG */
}

.contacts-list li:nth-child(4):hover {
    color: transparent; /* Делает элемент прозрачным */
}

.contacts-list li:first-child:hover svg {
    color: #004ef6;
}

.contacts-list li:nth-child(2):hover svg {
    color: #27a7e7;
}

.contacts-list li:nth-child(3):hover svg {
    color: #004ef6;
}

.contacts-list li:nth-child(4):hover svg {
    background-image: linear-gradient(44deg, #f9ce34 0%, #ee2a7b 50%, #6228d7 100%);
    -webkit-mask-image: url('images/instagram.svg');
    mask-image: url('images/instagram.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 24px;
}

/*footer*/

footer {
    margin-top: 200px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 71px;
    align-items: center;
}

.footer-content span {
    color: var(--accent);
}

.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 55px;
    align-items: center;
    z-index: 100;
}

.footer-list a {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}

.footer-list a:hover {
    color: var(--accent);
}

.divider {
    width: 100%;
    position: absolute;
    top: 108px;
    left: 0;
    height: 1px;
    background: #fff;
}

.description {
    margin: 25px 0;
    font-weight: 500;
    font-size: 15px;
    display: block;
}

.back-mob {
    display: none;
}

/* Общие стили для слайдера */
.swiper-container-1 {
    width: 100%;
    height: 300px; /* Высота слайдера */
    display: none; /* Скрываем слайдер на десктопе */
}

.swiper-container-1 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience-info__img-mob {
    display: none;
}

.listen-list__btn {
    display: none;
}

.equipment-mob {
    display: none;
}

.gallery-list__mob {
    display: none;
}

.services-img__mob {
    display: none;
}

.third-info__mob {
    display: none;
}

.second-info__mob {
    display: none;
}

.first-info__mob {
    display: none;
}

.overlay {
    display: none;
}

.burger-container {
    display: none;
}

/* Стили для мобильной версии */
@media screen and (max-width: 768px) {


    .nav {
        display: none;
    }

    /* Контейнер для бургер-меню */
    .burger-container {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 2000; /* Поверх всего остального */
    }

    /* Бургер-меню */
    .burger-menu {
        width: 42px;
        height: 10px;
        position: fixed;
        cursor: pointer;
        z-index: 2001; /* Чтобы бургер был поверх затемнения */
    }

    /* Линии бургер-меню */
    .line {
        height: 2.4px;
        background-color: #fff; /* Чёрный цвет по умолчанию */
        position: absolute;
        transition: all 0.2s ease;
    }

    /* Первая линия */
    .line.top {
        width: 42px;
        top: 0;
    }

    /* Вторая линия */
    .line.bottom {
        width: 31px;
        bottom: 0;
        right: 0;
    }

    /* Активное состояние, когда меню открыто */
    .burger-menu.active .line {
        background-color: var(--accent); /* Зелёный цвет для крестика */
        width: 30px; /* Меняем длину линий на 30px */
    }

    .burger-menu.active .line.top {
        transform: rotate(45deg);
        top: 50%;
        left: 0; /* Центрируем по горизонтали */
        transform-origin: center;
    }

    .burger-menu.active .line.bottom {
        transform: rotate(-45deg);
        bottom: 40%;
        left: 0; /* Центрируем по горизонтали */
        transform-origin: center;
    }

    .burger-menu.active {
        width: 24px;
        height: 24px;
    }

    /* Затемнение фона при открытии меню */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1D1E20; /* Черный фон с прозрачностью */
        display: none;
        justify-content: center;
        padding: 25px 30px 0 30px;
        align-items: center;
        z-index: 1999; /* Под бургер-меню */
        transition: all 0.3s ease;
    }

    /* Видимость меню при активации */
    .overlay.active {
        display: block;
    }

    /* Контент меню */
    .menu-content {
        color: white;
    }

    .title {

        font-weight: 700;
        font-size: 20px;
        position: relative;
    }

    .title span {
        color: var(--accent);
    }

    .menu-list {
        list-style: none;
        font-weight: 700;
        font-size: 25px;
        padding: 0;
        font-family: "Jura", sans-serif;
        margin: 113px auto 0;
        text-align: center;
    }

    .menu-list a {
        color: inherit;
    }

    .menu-list li {
        margin-bottom: 5px;
        text-transform: capitalize;
        cursor: pointer;
        transition: color 0.3s;
    }

    .menu-list li:hover {
        color: var(--accent);
    }

    .language__mob {
        display: block;
        margin: 114px auto 0;
        position: relative;
        z-index: 3000;
    }

    .back {
        display: none;
    }

    .back-mob {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 2;
    }

    .language-select {
        margin: 109px auto 0;
        text-align: center;
    }


    .container {
        max-width: 430px;
        padding: 0 30px;
    }

    .section-title {
        font-size: 30px;
    }

    .title {
        font-size: 50px;
    }

    .text {
        font-size: 13px;
    }

    .header-list {
        display: none;
    }

    .main-wrapper {
        background-position: center;
    }

    .main-title {
        display: none;
    }

    .header-link {
        display: none;
    }

    .header-link__mob {
        display: none;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 172px;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        background-image: url("images/btn-over.png");
        padding: 13.5px 0;
        width: 198px;
        text-align: center;
        background-position: center;
        background-size: cover;
        position: relative;
        transition: all 0.3s;
        z-index: 100;
    }

    .header-link__mob a {
        color: inherit;
    }

    header {
        display: none;
    }

    .main-title__mob {
        display: block;
        font-size: 65px;
        font-family: "Jura", sans-serif;
        font-weight: 700;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 50px;
    }

    .about-title {
        font-size: 50px;
    }

    .about-desc {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .about-list {
        display: none;
    }

    .swiper-container-1 {
        display: block;
        overflow: hidden;
        position: relative;
        z-index: 1000;
    }

    .diplomas-title {
        margin-top: 100px;
        font-size: 30px;
    }

    .diplomas-name {
        font-size: 18px;
        margin-top: 20px;
    }

    .diplomas-list {
        margin-top: 20px;
        gap: 25px 20px;
    }

    .diplomas-list__img {
        display: none;
        width: 175px;
        height: 247px;
    }

    .diplomas-list__img-mob {
        display: block;
    }

    .diplomas-list__desc {
        display: none;

    }

    .diplomas-list__desc-mob {
        display: block;
        font-size: 12px;
        margin-top: 10px;
        max-width: none;
    }

    .reviews {
        margin-top: 120px;
    }

    .reviews-list {
        margin-top: 30px;
    }

    .reviews-list li {
        width: 43%;
    }

    .reviews-list__desc {
        font-size: 13px;
    }

    .reviews-list__info {
        margin-top: 20px;
        gap: 9px;
    }

    .reviews-list__info img {
        width: 39px;
        height: 39px;
    }

    .reviews-list__info span {
        font-size: 16px;
    }

    /*experience*/
    .experience {
        background-image: url("images/experience-mob.png");
        background-position: center;
        margin-top: 145px;
        background-size: cover;
        padding-bottom: 0;
        padding-top: 0;
    }

    .experience .container {
        margin-left: 0;
        max-width: 430px;
        padding-top: 6px;
        margin-top: 0;
    }

    .experience-title {
        margin-left: 0;
    }

    .experience-desc {
        display: none;

    }

    .experience-desc-mob {
        display: block;
        margin-top: 15px;
        max-width: 635px;
        margin-left: 0;
    }

    .experience-info {
        height: 601px;
        margin: 52px 46px 0;
    }

    .experience-info__img-mob {
        display: block;
    }

    .experience-info__img {
        display: none;
    }

    .experience-info img {
        top: 12px;
        left: 0;
    }

    .experience-info__desc {
        max-width: 191px;
    }

    .experience-info__desc:first-child {
        top: 0px;
        left: auto;
        right: 0;
        text-align: left;
    }

    .experience-info__desc:nth-child(2) {
        right: 0;
        top: 160px;
        max-width: 191px;
    }

    .experience-info__desc:nth-child(3) {
        text-align: right;
        left: -9px;
        max-width: 200px;
        bottom: 159px;
    }

    .experience-info__desc:nth-child(4) {
        right: auto;
        left: 9px;
        bottom: 0px;
        max-width: 185px;
        text-align: right;
    }

    /*listen*/
    .listen-desc {
        margin-top: 15px;
    }

    .listen-list__link {
        padding: 13px 0 13px 42px;
        font-size: 14px;
        width: 190px;
    }

    .listen-title {
        margin-top: 139px;
    }

    .listen-list {
        margin-top: 50px;
        gap: 60px;
    }

    .listen-list img {
        width: 100%;
    }

    .listen-list__img--none {
        display: none;
    }

    .listen-list__text {
        font-size: 14px;
    }

    .listen-list__desc {
        font-size: 17px;
    }

    .listen-list__btn {
        margin: 60px auto 0;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--accent);
        background-color: inherit;
        border: none;
        cursor: pointer;
        display: none;
    }

    .btn-none {
        display: none;
    }

    /*icons*/
    .icons-desc {
        margin: 150px auto 0;
        font-size: 18px;
        max-width: 344px;
    }

    .icons-list {
        margin: 40px auto 0;
        gap: 27px 20px;
        align-items: center;
        justify-content: center;
    }

    .icons-list li:first-child svg {
        width: 222px;
        height: 27px;
    }

    .icons-list li:nth-child(2) svg {
        width: 118px;
        height: 27px;
    }

    .icons-list li:nth-child(3) svg {
        width: 146px;
        height: 35px;
    }

    .icons-list li:nth-child(4) svg {
        width: 178px;
        height: 36px;
    }

    /*.icons-list li:nth-child(5) svg {*/
    /*    width: 127px;*/
    /*    height: 36px;*/
    /*}*/
    /*.icons-list li:nth-child(6) svg {*/
    /*    width: 179px;*/
    /*    height: 36px;*/
    /*}*/
    /*.icons-list li:nth-child(7) svg {*/
    /*    width: 134px;*/
    /*    height: 29px;*/
    /*}*/
    /*.icons-list li:nth-child(8) svg {*/
    /*    width: 182px;*/
    /*    height: 37px;*/
    /*}*/
    /*equipment*/
    .equipment-title {
        margin-top: 140px;
        font-size: 45px;
        margin-bottom: 50px;
    }

    .equipment-content {
        align-items: center;
        flex-wrap: wrap;
    }

    .equipment-desc {
        display: none;
    }

    .equipment-mob {
        display: block;
        margin: 80px auto 0;
    }

    .equipment-text {
        margin-top: 5px;
    }

    .equipment-content__text {
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
    }

    .equipment-text__name {
        font-size: 18px;
    }

    .equipment-text__desc {
        font-size: 14px;
        margin: 15px 0;
    }

    .equipment-text__other {
        margin-top: 30px;
    }

    .equipment-text__other-name {
        margin-top: 5px;
        font-size: 18px;
    }

    /*gallery*/
    .gallery-title {
        margin: 130px auto 0;
        text-align: left;
    }

    .gallery-list {
        margin-top: 60px;
        position: relative;
        height: 712px;
        display: none;
    }

    .gallery-list__mob {
        display: block;
        margin-top: 30px;
        position: relative;
        height: 712px;
    }

    .gallery-list__mob img:first-child {
        position: absolute;
        top: 0;
        left: 0;
    }

    .gallery-list__mob img:nth-child(2) {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
    }

    .gallery-list__mob img:nth-child(3) {
        position: absolute;
        top: 208px;
        right: auto;
        left: 0;
    }

    .gallery-list__mob img:nth-child(4) {
        position: absolute;
        top: 130px;
        left: auto;
        right: 0;
    }

    .gallery-list__mob img:nth-child(5) {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
    }

    .gallery-list__mob img:nth-child(6) {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 157px;
    }

    .gallery-list__mob img:nth-child(7) {
        position: absolute;
        bottom: 156px;
        left: 0;
    }

    .gallery-list__mob img:nth-child(8) {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .gallery-list__mob img:nth-child(9) {
        position: absolute;
        bottom: auto;
        top: 260px;
        right: 0;
    }

    /*video*/
    .video {
        height: auto;
    }

    .video .video-content {
        padding-left: 0;
    }

    .video-title {
        margin-top: 150px;
        margin-bottom: 15px;
    }

    .video-desc {
        margin-bottom: 30px;
        font-size: 18px;
        max-width: 340px;
    }

    .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .swiper-pagination {
        margin-top: 15px;
    }

    .swiper-container-2 {
        width: 100%; /* Ширина слайдера на всю ширину экрана */
        margin: 0 auto;
        overflow: hidden;
    }

    .swiper-container-2 .swiper-slide {
        position: relative;
        width: 200px; /* Размер боковых слайдов */
        height: 112.5px;
        opacity: 0.5; /* Полупрозрачные боковые слайды */
        transition: all 0.3s ease;
    }

    /* Активный слайд больше и по центру */
    .swiper-container-2 .swiper-slide-active {
        opacity: 1;
        transform: scale(1.5); /* Увеличение активного слайда на 50% */
    }

    .swiper-container-2 .swiper-slide img {
        width: 100%; /* Установить ширину на 100% */
        height: 100%; /* Установить высоту на 100% */
        object-fit: cover; /* Обрезка изображений, чтобы они заполнили слайд */
    }

    /* Скрываем часть боковых слайдов */
    .swiper-container-2 .swiper-slide-prev,
    .swiper-container-2 .swiper-slide-next {
        opacity: 0.8; /* Слегка увеличиваем их видимость */
        margin-right: 18px;
        margin-left: 18px;
    }

    .video-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        z-index: 100;
    }

    .video-btn .video-btn__img {
        width: auto;
        height: auto;
    }

    /*form*/
    .form {
        margin-top: 170px;
        background-size: cover;
        background-position: center center;
        padding: 0 0;
    }

    .form .container {
        max-width: 430px;
        height: 719px;
    }

    .form h2 {
        text-align: left;
    }

    .form-block {
        margin-top: 40px;
    }

    .form-desc span {
        font-size: 11px;
    }

    .form-desc div {
        margin-top: 4px;
        font-size: 14px;
        padding: 13px 0 13px 15px;
    }

    .first-info {
        display: none;
    }

    .first-info__mob {
        display: flex;
        gap: 20px;
    }

    .first-info__mob .form-desc:first-child {
        width: 137px;
    }

    .first-info__mob .form-desc:nth-child(2) {
        width: 213px;
    }

    .second-info {
        display: none;
    }

    .second-info__mob {
        display: flex;
        gap: 20px;
    }

    .second-info__mob .form-desc:first-child {
        width: 189px;
    }

    .second-info__mob .form-desc:nth-child(2) {
        width: 161px;
    }

    .third-info__mob {
        display: flex;
        gap: 20px;
    }

    .third-info__mob .form-desc:first-child {
        width: 189px;
    }

    .third-info__mob .form-desc:nth-child(2) {
        width: 161px;
    }

    /*services*/
    .services .container {
        margin-top: 150px;
        flex-wrap: wrap;
        gap: 40px;
    }

    .services-list {
        gap: 10px;
        margin-top: 10px;
    }

    .services-list li {
        font-size: 16px;
        gap: 12px;
    }

    .services-list li img {
        width: 15px;
    }

    .services-img__mob {
        display: block;
    }

    .services-img {
        display: none;
    }

    /*contacts*/
    .contacts .container {
        max-width: none;
    }

    .contacts-title {
        margin-top: 160px;
        margin-bottom: 10px;
    }

    .contacts .text {
        font-size: 14px;
    }

    .contacts-list {
        margin-top: 30px;
        gap: 10px;
    }

    .contacts-link {
        font-size: 14px;
    }

    .contacts-list li {
        width: 49%;
    }

    .contacts-list li:nth-child(2) {
        width: 40%;
    }

    .contacts-list li:nth-child(4) {
        width: 40%;
    }

    .contacts-list li svg {
        width: 20px;
        height: 20px;
    }

    /*footer*/
    footer {
        margin-top: 165px;
        position: relative;
    }

    footer .section-title {
        font-size: 30px;
    }

    .footer-content {
        padding-bottom: 40px;
        align-items: flex-start;
    }

    .footer-list {
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        align-items: normal;
    }

    .footer-list a {
        font-size: 20px;
        text-align: left;
    }

    .divider {
        width: 100%;
        position: absolute;
        bottom: 34px;
        top: auto;
        left: 0;
        height: 1px;
        background: #fff;
    }

    .description {
        margin: 20px 0;
        font-size: 12px;
    }

    .active .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 429px) {
    .container {
        padding: 0 15px;
    }

    .gallery .container {
        padding: 0 10px;
    }

    .equipment-title {
        font-size: 45px;
    }

    .main-title__mob {
        font-size: 63px;
    }

    .services-img__mob {
        width: 100%;
    }

    .diplomas-list {
        gap: 25px 10px;
    }

    /*.diplomas-list li {*/
    /*    width: 175px;*/
    /*}*/
    .diplomas-list__img {
        width: 100%;
    }
}